@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.sch_info {
    background-color: white;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.img_schools {
    margin-left: 30px;
    margin-top: 40px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.half {
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    display: inline-block;
    font-stretch: 100%;
    line-height: 20px;
    text-size-adjust: 100%;
    vertical-align: middle;
    width: 594px;
    height: 336px;
}


.sch_title {
    margin-left: 25px;
    color: rgb(60, 60, 60);
    text-align: left;
    justify-content: left;
    font-size: 24px;
    line-height: 30px;
}

.sch_text {
    font-weight: 600;
    margin-left: 25px;
    color: rgb(153, 153, 153);
    text-align: left;
    justify-content: left;
    font-size: 16px;
    line-height: 30px;
    width: 530px;
    margin-top: 0px;
}

.sch_text2 {
    font-weight: 600;
    margin-left: 25px;
    color: rgb(153, 153, 153);
    text-align: left;
    justify-content: left;
    font-size: 16px;
    line-height: 30px;
    width: 540px;
    margin-top: 0px;
}